@(title: String, user: User)(content: Html)(customScripts: Html)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CSR-System | @title</title>
            <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        @stylesheet(title)

    </head>

    <body class="skin-green-light sidebar-mini fixed">

        <div class="wrapper">

            @header.mainHeader(title, user)
            @sidebar.leftSidebar(title, user)

            <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">@content</div>
            <!-- /.content-wrapper -->

            @footer(title)

        </div>
            <!-- ./wrapper -->

            <!-- REQUIRED JS SCRIPTS -->
        @script(title)

        @customScripts

        <script type="application/javascript">
			$(function() {
                // Hide the alert
                setTimeout(function() {
                    $(".callout").hide();
                }, 2000);
            });
		</script>

    </body>
</html>
