@(ticketDetail: TicketDetail)

    @import utils.GravatarUtility

    <div class="row">
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Ticket Details</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div> <!-- /.box-header -->
                <div class="box-body">
                    <p class="text-muted well well-sm no-shadow" style="margin-top : 10 px ;">
                    @ticketDetail.ticket.description
                    </p>
                </div> <!-- /.box-body -->
                <div class="box-footer">
                    <ul class="nav nav-pills nav-stacked">
                        @statusRadioButton("New", ticketDetail.ticket.status)
                        @statusRadioButton("Open", ticketDetail.ticket.status)
                        @statusRadioButton("Closed", ticketDetail.ticket.status)
                    </ul>
                </div> <!-- /.footer -->
            </div> <!-- /.box -->
        </div>

        <div class="col-md-4">
            @userDetails("danger", "Created By", ticketDetail.createdBy)
            @userDetails("info", "Assigned To", ticketDetail.assignedTo)
            @customerDetails(ticketDetail.customer)
        </div>

        <div class="col-md-4">
                <!-- DIRECT CHAT -->
            <div class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Comments</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div> <!-- /.box-header -->
                <div class="box-body">
                        <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                    @ticketDetail.comments.map { comment =>
                        @commentDetails(comment)
                    }
                    </div> <!-- /.box-body -->
                    <div class="box-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="comment" placeholder="Type Your Comment ..." class="form-control" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning btn-flat">Comment</button>
                                </span>
                            </div>
                        </form>
                    </div> <!-- /.box-footer-->
                </div> <!--/.direct-chat -->
            </div> <!-- /.col -->

        </div> <!-- /.row -->

        @userDetails(css: String, userType: String, user: User) = {
            <div class="col-md-12">
                <div class="box box-@css">
                    <div class="box-header with-border">
                        <h3 class="box-title">@userType</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="@GravatarUtility.gravatarUrl(user.email)" class="img-circle" alt="User Image" />
                            </div>
                            <div class="pull-left info">
                                <p>@user.name</p>
                                <i class="fa fa-circle text-success"></i> @user.designation
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!--/.box -->
            </div> <!-- /.col -->
        }

        @commentDetails(comment: Comment) = {
            <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">@comment.user.name</span>
                    <span class="direct-chat-timestamp pull-right">@comment.createdAt.format("dd MMM hh:mm a")</span>
                </div><!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="@GravatarUtility.gravatarUrl(comment.user.email)" alt="message user image" /><!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                @comment.comment
                </div><!-- /.direct-chat-text -->
            </div> <!-- /.direct-chat-msg -->
        }

        @customerDetails(customer: Customer) = {
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Customer Details</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="@GravatarUtility.gravatarUrl(customer.email)" class="img-circle" alt="User Image" />
                            </div>
                            <div class="pull-left info">
                                <p>@customer.name</p>
                                @customer.contact - @customer.address
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!--/.box -->
            </div> <!-- /.col -->
        }

        @statusRadioButton(name: String, value: String) = {
            <li>
                <div class="form-group">
                    <label>
                        <input type="radio" name="statusRadioButton" class="flat-red" @if(name == value) {checked} @if("Closed" == value){disabled} />
                        @name
                    </label>
                </div>
            <li>
}
